@charset "ISO-8859-1";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.section {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100vh;
    background: rgb(53 31 98 / 45%);
}

.nav{
    margin-bottom: 5%;
}
.nav img {
    width: 200px;
    background: #fff;
    border-radius: 11px;
    padding: 0 0px;
}
.text-box h2 {
    font-size: 36px;
    color: white;
    font-weight: bold;
}
.text-box p {
    font-size: 16px;
    color: white;
    font-weight: normal;
}
.ng{
    color: blue;
}
.log{
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 0px 6px 2px;
    background-color: white;
    position: relative;
}
.logo-round {
    position: absolute;
    left: 50%;
    top: -62px;
    transform: translate(-50%, 10px);
    height: 100px;
    display: inline-block;
    width: 100px;
    background: #fff;
    border-radius: 100px;
    text-align: center;
    padding: 9px 0;
    box-shadow: 0px 0px 0px 8px #ffffff4a;
}
.head{
    text-align: center;
}
.head img{
    width: 20px;
    display: inline-block;
}
.head p{
    display: inline-block;
}
.head h2{
font-weight: bold;
}
select{
        width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
    outline: none;
    border-radius: 0px;
}
input[type="text"] {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc; /* Line below */
    margin-bottom: 20px;
    box-sizing: border-box;
    outline: none;
}

input[type="text"]::placeholder {
    color: #999; /* Placeholder text color */
}
.remember input {
    display: inline-block;
}
.remember h4{
    display: inline-block;
}
.remember a{
    float: right;
    margin-top: 10px;
}
.log button{
    width: 100%;
    margin-top: 20px;
    padding: 8px 0;
    background: #422877;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 17px;
}
.log button:hover {
    background: #2e1561;
}
.log h5 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    color: #ccc;
  }
 .log h5:before, .log h5:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #ccc;
    margin: auto;
  }
 .log h5:before {
    margin-right: 7px
  }
 .log h5:after {
    margin-left: 7px
  }
  .google{
    margin-top: 24px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px 0;
  }
  .google img{
    width: 38px;
  }
  .account{
    margin-top: 12px;
    text-align: center;
  }
  .account h4{
    display: inline-block;
  }
  .account a{
    display: inline-block;
  }
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    height: 100%;
    width: 100%;
}
  .bg-img img{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  /* Carousel CSS */

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel .list{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}
.carousel .list.active{
    opacity: 1;
}
  .carousel img {
    width: 100%;
    min-height: 100%;
}
.list-text-box {
    position: absolute;
    left: 0;
    top: 35%;
    z-index: 1111;
    width: 100%;
}
.banner-text-box {
    width: 57%;
}
.banner-text-box h2 {
    font-weight: bold;
    color: #fff;
}
.banner-text-box p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
/*Carousel arrows*/

.carousel i {
    position: absolute;
    top: 35vh;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    z-index: 1;
}

.carousel .prev {
    left: 20px;
    display: none;
}

.carousel .next {
    right: 20px;
    display: none;
}

/*Carousel indicators*/
.carousel-indicators {
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #fff;
  border: 1px solid #fff;
}

/* For mobile screens */
@media (max-width: 767px) {
  .carousel {
    height: 250px;
  }
  
  .carousel img {
    height: auto; /* Allow the height to adjust automatically */
    object-fit: fill; /* Fill the container without preserving the aspect ratio */
  }

  .carousel-indicators, .carousel-indicator {
   display: none;
  }

  .carousel i {
    top: 17vh;
  }

  }
  .slider-box{
    float: left;
    width: 100%;
    position: relative;
  }
  .slider-box{
    position: absolute;
  }
  .log {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 0px 6px 2px;
    background-color: white;
    position: absolute;
    z-index: 1111111;
    right: 10%;
    top: 50%;
    width: 429px;
    transform: translate(0px, -50%);
}
.text-box {
    position: absolute;
    bottom: 135px;
}  